<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FamilyAppBudget</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">

    <script src="assets/alertifyjs/alertify.min.js "></script>
    <link rel="stylesheet" href="assets/alertifyjs/css/alertify.min.css" />
    <link rel="stylesheet" href="assets/alertifyjs/css/themes/default.min.css" />

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-sanitize.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function ($scope, $http, $location) {

            $scope.Email = $scope.PWD = null;
            $scope.TodoLists = [{ ListName: 'Maggi', Status: 'Incomplete', TaskCompleted: 0, Tasks: [{ TaskName: "Boil Water", Status: "Pending" }, { TaskName: "Insert maggi", Status: "Pending" }, { TaskName: "Cook for 3 Minutes", Status: "Pending" }] }, { ListName: 'Tea Making', Status: 'Incomplete', TaskCompleted: 0, Tasks: [{ TaskName: "Boil Water", Status: "Pending" }, { TaskName: "Add Tea", Status: "Pending" }, { TaskName: "Add Suger", Status: "Pending" }, { TaskName: "Add Milk", Status: "Pending" }, { TaskName: "Fuul Boil 2 Times", Status: "Pending" }, { TaskName: "Serve", Status: "Pending" }] }];
            $scope.Orders = [];
            $scope.NewList = { TDLID:0,ListName: 'List Name', Tasks: [] };
            $scope.EditMode = false;
            $scope.Tasks = [];
            $scope.SelectedTodoList = null;


            $scope.Load = function () {
                $http.get("assets/api/GetSelfUser.php?Update").then(function (response) {
                    $scope.User = response.data;
                    if ($scope.User == 'Error') location.assign("login.html");
                    $http.get("assets/api/GetTodoListsApi.php").then(function (response) {
                        $scope.TodoLists = response.data.Values;
                        //alert(angular.toJson($scope.TodoLists));
                    });

                });

            }
            $scope.Load();

            

            $scope.Remove = function (Index) {
                $scope.NewList.Tasks.splice(Index, 1);
                $scope.$apply();

            }


            $scope.CreateNewList = function () {
                $scope.NewList = {};
            }
            $scope.SelectList = function (TodoList) {
               
                $scope.NewList = TodoList;
                $scope.Tasks = TodoList.Tasks;
                $scope.EditMode = true;
            }
            $scope.AddTask = function () {
                
                $scope.Task.Status = 'Pending';
                $scope.Task.TID = 0;
                $scope.Task.TaskCompleted = 0;
                $scope.Task.TaskStatus = "Pending";
                
                $scope.NewList.Tasks.push(JSON.parse(JSON.stringify($scope.Task)));
                console.log($scope.Task);
                if ($scope.Tasks.includes($scope.Task)) {
                    $scope.Tasks[$scope.Index] = JSON.parse(JSON.stringify($scope.Task));
                }
                else {
                   
                }

              

            }
          
            $scope.BackToLists = function () {
                $scope.NewList = null;
               // $scope.TodoLists.splice($scope.TodoLists.length - 1, 1);
            }
            $scope.Save = function () {
                $scope.NewList.UID = $scope.User.UID;
                var data = angular.toJson($scope.NewList);
                //alert(data);
                $http.post("assets/api/SaveToDoListApi.php", data)
                  .then(function (response) {
                    console.log(response.data);
                 if (response.data.Status == 'Success') {
                     $scope.Expense = { EID: 0 };
                     location.assign("todolists.html");
                 }
                 else { alertify.error(response.data.Message); }
             });




                //$scope.TodoLists.push(JSON.parse(JSON.stringify($scope.NewList)));
                
               // alert(JSON.stringify($scope.NewList)); $scope.NewList = null;
                //$scope.TodoLists.splice($scope.TodoLists.length - 1, 1);
            }
            $scope.Change = function () { $scope.NewList.ListName = $scope.Name; }
        });

        function Load() {
            $('#Body').attr('hidden', false);
            $('#Body').fadeIn('fast', 'swing', function () { });
        }
        function Transition(Page) {

            location.assign(Page);

        }

    </script>
</head>

<body ng-app="myApp" onload="Load()" ng-controller="customersCtrl" id="Body" style="font-size: 14px;">
    <div ng-include src="'menu.php'"></div>

    <div class="container shadow-sm d-flex align-items-center" style="padding-top: 15px;">
        <a class="btn btn-primary" href="todolists.html" style="margin-bottom: 9px;font-size: 16px;padding: 8px;padding-right: 12px;padding-left: 12px;"><i class="fa fa-arrow-left"></i></a>
        <h4 class="d-flex flex-fill justify-content-end">Add / Update Todo List</h4>
    </div>



    <div class="container d-flex align-items-center" style="margin-top: 10px;" ng-show="NewList!=null">
        <div class="card flex-fill">
            <div class="card-body">
                <form class="flex-fill">
                    <div class="form-group">
                        <input class="form-control" type="text" name="ListName" ng-model="NewList.ListName" placeholder="Name of the List" style="padding: 16px;">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="text" name="Task" placeholder="Add Task" ng-model="Task.TaskName" style="padding: 16px;" required>
                            <div class="input-group-append">
                            <button class="btn btn-primary" ng-click="AddTask()" type="button">Add!</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 10px;" ng-show="NewList!=null">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{NewList.ListName}}</h4>
                <h6 class="text-muted card-subtitle mb-2">Total tasks - {{NewList.Tasks.length}}</h6>
                <ul class="list-group">
                    <li ng-repeat="Task in NewList.Tasks" class="list-group-item d-flex justify-content-start align-items-start">
                        <span class="flex-fill">{{Task.TaskName}}&nbsp;</span>
                        <button class="btn btn-danger btn-sm" type="button" style="margin-right: -10px;" ng-click="Remove($index)"><i class="fa fa-remove"></i></button>
                    </li>
                </ul><button ng-click="Save()" class="btn btn-primary" type="button" style="margin-top: 10px;">Save</button>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>